/* RESET */




@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

/* Droid Serif font */
@import url('https://fonts.googleapis.com/css2?family=Droid+Serif&display=swap');

/* Font styles */
body {
  font-family: 'Inter', sans-serif; /* Default font for the body */
}

h1 {
  font-family: 'Droid Serif', serif; /* Font for heading elements */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Avenir';
}

:root {
  --primary-color: #e81922;
  --light-red: #ef5a60;
  --primary-black: #111;
  --gray: #aaa;
}

html {
  scroll-behavior: smooth;
}
html, body {margin: 0; height: 100%; overflow-x: hidden}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

/* BASE STYLES */
body {
  background-color: #e8f0f7;
  font-family: 'Inter', sans-serif;
  min-height: 500vh;
}

/* NORMAL STYLES */
.header {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: rgb(39, 44, 51);
  z-index: 1000;
}

.top-bar {
  background-color: rgb(39, 44, 51);
}

.top-bar__content {
  height: 30px;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.35);
}

.phone {
  display: block; /* Show phone section on mobile screens */
} 
.phone,
.email {
  margin-left: auto; /* Push phone number and email to the right */
}

.icon {
  margin-right: 3px;
  color: rgba(255, 255, 255, 0.17);
}
.icon-image h3{
  font-size: small; 
  font-weight: bold;
}

.logo {
  vertical-align: middle;
  display: flex;
  column-gap: 10px;
  align-items: center;
  left: 0;
  top: 0;
  order: -1;
  flex-shrink: 0;
}

.logo__img {
  height: 30px;
}

.logo__text {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.bottom-bar {
  background-color:transparent;
  color: white; /* Initial text color */
  transition: background-color 0.3s, color 0.3s; /* Add transition effect */
  z-index: 1000;
  margin-top: 9px;
}

.bottom-bar__content {
  min-height: 60px;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav {
  transition: all 0.3s ease-in-out;
}

.nav__list {
  display: flex;
  column-gap: 40px;
  justify-content: center;
  align-items: center;
}


.nav__link {
  color: 000;
  transition: all 0.2s;
}

.nav__link:hover,
.nav__link:focus {
  color: rgb(243, 237, 237);
}

.btn {
  color: #fff;
  padding: 8px 20px;
  border-radius: 1000px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background-color:#FFF;
}

.hamburger {
  cursor: pointer;
  display: none;
}

.bar {
  height: 2px;
  width: 27px;
  background-color: #fff;
  margin: 5px 0;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

/* For JS */
.nav--open {
  left: 50% !important;
}

.hamburger--open .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

/* MEDIA QUERIES */
@media (max-width: 650px) {
  .nav {
    position: fixed;
    top: 90px;
    left: -100%;
    transform: translateX(-50%);
    background-color: rgb(19, 22, 26);
    width: 100%;
    padding: 10px 0 25px;
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .nav__link {
    font-size: 14px;
  }

  .btn {
    font-size: 11px;
    padding: 7px 17px;
  }

  .hamburger {
    display: block;
  }
}


@media (max-width: 360px) {
  .top-bar__content {
    font-size: 10px;
  }
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #fff;
  font-weight: lighter;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em;
  /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end;
}

.main {
  /* margin-top: 30px; */
}

/* The typing effect */
@keyframes typing {
  from {
    width: 25%
  }

  to {
    width: 50%

  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #fff
  }
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero {
  text-align: center;
}

.container {
  max-width: 800px;
  padding: 0 20px;
  margin: 0 auto;
}

h1 {
  color: #333;
  font-size: 3rem;
  margin-bottom: 20px;
}

h3 {
  color: #666;
  font-size: 1.5rem;
  line-height: 1.6;
  /* margin-top: 20px; */
}

.typed-out {
  font-weight: bold;
  font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }
  .contact .right{
    padding:3rem 0;
}

.contact form{
    padding:3rem 0;
    padding:0;
    flex-direction: column;
}

.contact .info{
    flex-direction: column;
}
.phone {
  display: block; /* Show phone section on mobile screens */
} 
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }
}

@media(max-width:992px) {
  .right {
    width: 100%;
    padding: 0;
  }
  .contact .container{
    flex-direction: column-reverse;
}

.contact .left,
.contact .right{
    width: 100%;
}
}

.right {
  width: 50%;
  padding: 1rem;
  display: flex;
}




.hero {
  padding: 5rem 0;
  background-color: #f2f2f2;
  /* Beige background color */
  ;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .left {
  flex-direction: column;
}

.hero h1 {
  font-size: 3.9rem;
  text-transform: capitalize;
  font-weight: 400;
  line-height: 5.5rem;
}

.hero h1 span {
  color: var(--primary-color)
}

/*typing effect*/
.container {
  display: inline-block;
}

.typed-out {
  overflow: hidden;
  border-right: .1em transparent #000;
  white-space: nowrap;
  animation:
    typing 2s forwards;
  font-size: 2.0rem;
  width: 0;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
  
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: .5
  }

  to {
    opacity: 1
  }
}



/* Heading*/
/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Avenir';
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  text-transform: uppercase;
  font-family: 'Droid Serif', serif;
  color: var(--light-red);
  font-size: 4rem;
  text-align: center;
  margin-bottom: 20px;
}

.roller {
  height: 4.125rem;
  line-height: 4rem;
  font-size:x-large ;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Droid Serif', serif;
  align-items: center;
  color: #1D3557;
}

#spare-time {
  font-size: 3rem;
  font-style: italic;
  letter-spacing: 1rem;
  margin-top: 0;
  color: #A8DADC;
}

.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
}

@keyframes slide {
  0% {
      top: 0;
  }
  25% {
      top: -4rem;
  }
  50% {
      top: -8rem;
  }
  72.5% {
      top: -12.25rem;
  }
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  h1 {
      font-size: 2.125rem;
  }

  .roller {
      height: 2.6rem;
      line-height: 2.125rem;
  }

  #spare-time {
      font-size: 1rem;
      letter-spacing: 0.1rem;
  }

  .roller #rolltext {
      animation: slide-mob 5s infinite;
  }

  @keyframes slide-mob {
      0% {
          top: 0;
      }
      25% {
          top: -2.125rem;
      }
      50% {
          top: -4.25rem;
      }
      72.5% {
          top: -6.375rem;
      }
  }
}


/*footer*/
footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.social-icons {
  font-size: 24px;
  margin-top: 10px;
}

.social-icons a {
  color: #fff;
  margin: 0 10px;
}


.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 32px;
  color: #25d366; /* WhatsApp green */
  z-index: 9999;
}
.build-plan-heading{
  font-family: 'Droid Serif', serif;
}



.arka-icons {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.build-plan-heading {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-container > div {
  flex: 1 1 calc(50% - 10px); /* Adjusted to 50% for two items per row */
  max-width: calc(50% - 10px); /* Adjusted to 50% for two items per row */
  margin-bottom: 20px;
  text-align: center;
}


.icon-image {
  width: 100px;
  height: auto;
  cursor: pointer;
}

.build-plan-heading {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.image-container p {
  font-weight:900;
  font-size: 20px;
  cursor: pointer; /* Adjust the size as needed */
}

.tabs {
}
.tabs input[type=radio] {
  display: none; 
}
.tabs label {
  transition: background 0.4s ease-in-out, height 0.2s linear;
  display: inline-block;
  cursor: pointer;
  color: #172726;
  width: 20%;
  height: 3em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #FCFCFC;
  text-align: center;
  line-height: 3em; 
}
.tabs label:last-of-type {
  border-bottom: none; 
}
.tabs label:hover {
  background: #0a1615;
  color:#ffffff;
}
@media screen and (max-width: 1600px) {
.tabs label {
  width: 15%; } 
}
@media screen and (max-width: 900px) {
.tabs label {
  width: 20%; 
  } 
}
@media screen and (max-width: 600px) {
.tabs label {
  width: 100%;
  display: block;
  border-bottom: 2px solid #C7C6C4;
  border-radius: 0; 
} 
}
@media screen and (max-width: 600px) {
.tabs {
  margin: 0; 
} 
}

#tab1:checked + label, #tab2:checked + label, #tab3:checked + label, #tab4:checked + label {
  background: #142120;
  justify-content: space-between;
  color: #FFFFFF; }

.tab-content {
  position: absolute;
  top: -9999px;
  padding: 10px; 
}

.tab-content-wrapper{
  background: #FCFCFC;
  border-top: #0a0c0c 5px solid;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  
}
@media screen and (max-width: 600px) {
.tab-content-wrapper, .tab1-content-wrapper {
  border: none;
  border-radius: 0; 
} 
}

#tab1:checked ~ .tab-content-wrapper #tab-content-1, #tab2:checked ~ .tab-content-wrapper #tab-content-2, #tab3:checked ~ .tab-content-wrapper #tab-content-3, #tab4:checked ~ .tab-content-wrapper #tab-content-4 {
  position: relative;
  top: 0px;
 }

 .basementlevel-menities-icons,.sitelevel-menities-icons,.block-amen{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 4 columns */
  grid-template-rows: repeat(2, 1fr); /* 3 rows */
  gap: 8px;
 }


 .project-highlights {
  max-width: 800px;
  margin: 0 auto;
}

.project-highlights ul {
  padding: 0;
  list-style-type: none;
}

.project-highlights li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

.project-highlights li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .project-highlights li {
    font-size: 10px;
  }
  .hero .gallery{
      grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .project-highlights li {
    font-size: 12px;
  }
  .hero h1{
    margin-bottom: 3rem;

}

.hero p{
    display:none;
}

.hero .img-container{
    width: 300px;
    height: 300px;
}

.hero .gallery{
    display:none;
}

}

.highlights{
  font-weight: 900;
}



/* Slide show*/
.slide-content{
	width: 100%;
	height: 100vh;
	background: #000;
}
	
.slide-img{
	width: 100%;
	height: 100%;
	object-fit: cover
}
.slide-wall
{	position: fixed;
	top: 100vh;
	background: white;
	width: 100%;
	height: 100vh
}
.slide-wall__inner
{	
  width: 100%;
	height: 0vh;
	top: 100vh;
	background: #9F9AFF
}


.hero .img-container img{
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 50%;
  z-index: 1;
}

.hero .gallery{
  margin-top:100px;
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:1rem;
}

.hero .gallery .img-wrapper{
  overflow: hidden;
  aspect-ratio: 1;
}

.hero .gallery img{
  width:100%;
  height:100%;
  object-fit:cover;
  cursor:pointer;
  transition: scale 1s ease;
}

.hero .gallery img:hover{
  scale:1.1;
}


.hero .img-container{
  position: relative;
  width: 75%;
  aspect-ratio: 1/1;
}

.hero .img-container:before{
  content: '';
  position:absolute;
  top: 2rem;
  left:2rem;
  width:100%;
  height:100%;
  background-color: var(--primary-color);
  z-index:-1;
  border-radius: 61% 39% 75% 25% / 37% 70% 30% 63%;
}
.hero .img-container img{
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 50%;
  z-index: 1;
}



/*Hide scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FFF; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


body { -webkit-font-smoothing: antialiased; }


body { overflow: -moz-scrollbars-none; -ms-overflow-style: none;  }
:root{
  scrollbar-width: none !important;
}

body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 800px; /* Adjust maximum width as needed */
  margin: 0 auto; /* Center the container horizontally */
  overflow: hidden; /* Ensure iframe doesn't overflow container */
  height: 0; /* Set initial height to 0 */
  padding-top: 46.25%; /* 16:9 aspect ratio (9 divided by 16) */
}

.iframe-container iframe {
  width: 100%;
  height: 59%; /* Fill the container */
  position: absolute;
  top: 0;
  left: 0;
}

.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  height: 0;
  padding-top: 46.25%;
}

.iframe-container iframe {
  width: 100%;
  height: 100%; /* Change to fill the container */
  position: absolute;
  top: 0;
  left: 0;
}

.gallery-wrapper {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 1em;
  margin-bottom: 200px;
}


@media screen and (max-width: 767px) {
  .iframe-container {
    height: 80%;
    padding-top: 75%; /* 4:3 aspect ratio for screens narrower than 768px */
  }
}
/* Footer styles */
footer {
  text-align: center;
  padding: 20px;
  background-color: #100c0c;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
  .video-container iframe {
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  .video-container iframe {
    width: 100%;
  }
}


@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
    box-sizing: border-box;
    line-height: 1.5em;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-color: 

#f7f7f7;
}

header {
    background-color: 

#ffffff;
    box-shadow: 0 10px 15px -3px 

rgba(0, 0, 0, 0.1),
        0 4px 6px -4px 

rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}
header .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
header .logo img {
    height: 50px;
    display: block;
}

.navbar {
    position: fixed;
    top: 0;
    left: 100%;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: 

white;
    padding: 20px;
    transition: left 0.3s;
}

.navbar.show {
    left: 0 !important;
}

.hide-scroll {
    overflow: hidden;
}

.navbar ul {
    all: unset;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.navbar ul a {
    all: unset;
    color: 

#444444;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-size: 28px;
}
.navbar ul a:hover {
    color: 

#111111;
    text-decoration: underline overline;
    text-decoration-thickness: 3px;
}

.close-nav {
    text-align: right;
    margin-bottom: 20px;
}
.close-nav button {
    all: unset;
    background: 

#f7f7f7;
    font-size: 42px;
    cursor: pointer;
    border: 1px solid 

rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 3px;
    color: 

#444444;
}
.close-nav button:hover {
    color: 

#222222;
    background: 

white;
}

.menu-bar button {
    border: 1px solid 

rgba(0, 0, 0, 0.1);
    background: 

#f7f7f7;
    height: 50px;
    width: 50px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}
.menu-bar i {
    display: block;
    border-top: 3px solid 

#444444;
    border-bottom: 3px solid 

#444444;
}
.menu-bar i::after {
    display: block;
    content: "";
    border-top: 3px solid 

#444444;
    margin: 6px 0;
}
.menu-bar button:hover {
    background: 

white;
}
.menu-bar button:hover i {
    border-color: 

#222222;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
}

@media (min-width: 550px) {
    .navbar {
        all: unset;
        display: block;
    }
    .navbar ul {
        flex-direction: row;
        gap: 20px;
    }
    .navbar ul a {
        font-size: inherit;
    }
    .close-nav,
    .menu-bar {
        display: none;
    }
}


/*slide*/

.g-img{
  max-width:100%;
}
.gallery-wrapper{
  max-width:960px;
  width:100%;
  margin:0 auto;
  padding:0 1em;
  display:grid;
  grid-template-columns:repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 1em;
  .image-wrapper{
    a{
      padding:0.5em;
      display:block;
      width:100%;
      text-decoration:none;
      color:#333;
      box-shadow:0 0 5px rgba(0,0,0,0.3);
      transition: all 200ms ease-in-out;
      &:hover{
        box-shadow:0 2px 5px rgba(0,0,0,0.5);
      }
      img{
        width:100%;
      }
    }
  }
}

.gallery-lightboxes{
  .image-lightbox{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.8);
    backdrop-filter: blur(5px);
    display:flex;
    align-items:center;
    justify-content: center;
    opacity:0;
    visibility:hidden;
    transition: opacity 0ms ease-in-out;
    &:target{
      opacity:1;
      visibility:visible;
      .image-lightbox-wrapper{
        opacity:1;
        transform:scale(1,1) translateY(0);
      }
    }
    .image-lightbox-wrapper{
      transform:scale(0.95,0.95) translateY(-30px);
      transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
      opacity:0;
      margin:1em auto;
      max-width:75%;
      padding:.5em;
      display:inline-block;
      background:#fff;
      box-shadow:0 0 5px rgba(0,0,0,0.8);
      position:relative;
      .close{
        width: 1.5em;
        height: 1.5em;
        background: #000;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        border-radius: 50%;
        box-shadow: 0 0 0 2px white inset, 0 0 5px rgba(0, 0, 0, 0.5);
        position: absolute;
        right: -1em;
        top: -1em;
        &:before{
          content: '';
          display: block;
          width: 10px;
          height: 2px;
          background: #fff;
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -1px 0 0 -5px;
          transform: rotate(-45deg);
        }
        &:after{
          content: '';
          display: block;
          width: 10px;
          height: 2px;
          background: #fff;
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -1px 0 0 -5px;
          transform: rotate(45deg);
        }
      }
      .arrow-left{
        position:absolute;
        top:0;
        right:50%;
        bottom:0;
        left:0;
        &:before{
          content:'';
          display:inline-block;
          width: 20px;
          height: 20px;
          border: 2px solid #fff;
          border-bottom: 0;
          border-right: 0;
          border-radius:4px 0 0 0;
          position: absolute;
          top: 50%;
          right: 100%;
          cursor:pointer;
          transform: rotate(-45deg) translateY(-50%);
        }
      }
      .arrow-right{
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:50%;
        &:before{
          content:'';
          display:block;
          width: 20px;
          height: 20px;
          border: 2px solid #fff;
          border-bottom: 0;
          border-left: 0;
          border-radius:0 4px 0 0;
          position: absolute;
          top: 50%;
          left: 100%;
          cursor:pointer;
          transform: rotate(45deg) translateY(-50%);
        }
      }
      img{
        margin:0 auto;
        max-height:70vh;
      }
      .image-title{
        font-weight: bold;
      }
    }
  }
}